{% for field in attrs.form %}
  {% if field.errors %}<div class="text-red-700 text-sm font-bold mb-1">{{ field.errors }}</div>{% endif %}
  <div class="mb-3">
    {% if field.field.widget.input_type == "checkbox" %}
      <label class="flex items-center text-sm">
        {{ field }}<span class="ml-2">{{ field.label }}</span>
      </label>
    {% else %}
      <label for="{{ field.id_for_label }}" class="block text-sm font-bold mb-1">{{ field.label }}</label>
      {{ field }}
    {% endif %}
    {% if field.help_text %}<span class="text-xs text-gray-600 block mt-1">{{ field.help_text }}</span>{% endif %}
  </div>
{% endfor %}
