DJANGO_SECRET_KEY=change-me-with-python-secrets-token-hex-32
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,usm.moka-web.net
DJANGO_CSRF_TRUSTED_ORIGINS=https://usm.moka-web.net

# Laisser vide pour SQLite (mode dev rapide) ou :
# DATABASE_URL=postgresql://usm:usm_password@localhost:5432/usm_volley

DEFAULT_FROM_EMAIL=noreply@usmvolley.fr
# EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
